.cart-container {
    padding: 50px;
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(6, 126, 98, 0.1);
  }
  
  .cart-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px; /* Large font size */
    font-weight: bold; /* Thick lettering */
    color: #6c757d; /* Soft gray */
  }
  
  .cart-items {
    max-width: 800px;
    margin: 0 auto; /* Center the cart items */
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #accaf4;
    padding-bottom: 15px;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 1px solid #a0cbfd;
    padding: 5px;
    border-radius: 8px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-name {
    font-size: 18px;
    color: #333;
  }
  
  .cart-item-price {
    font-size: 16px;
    color: #000000; /* Price */
  }
  
  .cart-summary {
    margin-top: 20px;
  }
  
  .cart-summary h4 {
    font-size: 24px;
    color: #333;
  }
  
  .cart-summary button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .cart-summary .btn-danger {
    background-color: #ffb3c1; /* Pastel pink */
    border: none;
    color: #fff;
  }
  
  .cart-summary .btn-danger:hover {
    background-color: #000; /* Black hover */
    color: #fff; /* White text */
  }
  
  .cart-summary .btn-primary {
    background-color: #b3d9ff; /* Pastel blue */
    border: none;
    color: #fff;
  }
  
  .cart-summary .btn-primary:hover {
    background-color: #000; /* Black hover */
    color: #fff; /* White text */
  }
  
  .cart-item .btn-danger {
    background-color: #b3e6b5; /* Pastel green */
    border: none;
    color: #fff;
  }
  
  .cart-item .btn-danger:hover {
    background-color: #000; /* Black hover */
    color: #fff; /* White text */
  }
  
  .shipping-options {
    margin-top: 40px;
    text-align: center;
  }
  
  .shipping-options h2 {
    font-size: 24px;
    color: #fcb7b7; /* lettering shipping options*/
  }
  
  .shipping-options label {
    font-size: 16px;
    color: #333333;
  }
  
  .shipping-options input[type="radio"] {
    margin-right: 5px;
  }
  
  .btn-info {
    background-color: #f5c1f1; /*btn */
    border: none;
    color: #fff;
  }
  
  .btn-info:hover {
    background-color: #000; /* Black hover */
    color: #fff; /* White text */
  }
  
  /* Modal styling */
  div[style*="position: fixed"] {
    border-radius: 10px;
  }
  
  div[style*="background-color: white"] {
    background-color: #ffffff; /* background */
  }